body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    }

h1{
    font-size: 50px;

}
.orange-color{

    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5% 10%;
}
.half-width img{
    width: 80%;
}
.intro{
    text-align: justify;
}
.Hire-me-button{
    text-decoration: none;
    background-image: radial-gradient(rgb(211, 121, 37),#f05417);
    padding: 1% 5%;
    border-radius:7%;
    color: white;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}