body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
    }

h1{
    font-size: 50px;

}
.orange-color{

    color: orange;
}
.flexible-container{
    display: flex;
    
}
.half-width{
    width: 50%;
    padding: 5% 10%;
}
.half-width img{
    width: 80%;
}
.intro{
    text-align: justify;
}
.Hire-me-button{
    text-decoration: none;
    background-image: radial-gradient(rgb(211, 121, 37),#f05417);
    padding: 1% 5%;
    border-radius:15px;
    color: white;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.middle{
    width: 50%;
    padding: 3% 9%;
}
.middle img{
    width: 75%;
}
.wish-text{
    text-align: justify;
}
.resume-button{
    text-decoration: none;
    background-image: radial-gradient(rgb(211, 121, 37),#f05417);
    padding: 1% 4%;
    color: white;
    border-radius: 50px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 100px;
    
    
}
.flexible{
display: flex;
margin-top: -100px;
}

.experience-item{
    margin: 100px;
    box-shadow: 10px 10px 40px gray;
    width: 50%;
    padding: 2%;
    
    
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 200px;
}
#web-dev-ex{
    border-left: 7px solid;
    border-image: linear-gradient(red, orange);
    border-image-slice: 1;
}
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
    background-color: indigo;
    color: white;
    font-size: 15px;
    padding: 1%;
    
}